.jumbotron {
  padding-top: 3rem;
  background-color: #84f7f760;
}

#aabout {
  text-decoration: none;
}

#aabout:hover {
  font-family: monospace;
  color: rgb(7, 255, 255);
}

#aabout:hover:active {
  color: black;
}

#projects {
  background-color: #84f7f760;
}

#p1 {
  font-weight: 10px;
  font-size: 21px;
  text-indent: 20px;
}

#project1 {
  font-size: medium;
}

#project1:hover {
  background-color: rgba(65, 65, 255, 0.555);
}

#project2 {
  position: relative;
  bottom: 6px;
}

#project2:hover {
  background-color: rgba(65, 65, 255, 0.555);
}

#project3 {
  position: relative;
  top: 6px;
}

#project3:hover {
  background-color: rgba(65, 65, 255, 0.555);
}

#project4 {
  position: relative;
  top: 15px;
}

#project4:hover {
  background-color: rgba(65, 65, 255, 0.555);
}

#apro {
  text-decoration: none;
}

#apro:hover {
  font-family: monospace;
  color: rgb(7, 255, 255);
}

#apro:hover:active {
  text-decoration: underline;
  color: black;
}

section {
  padding-top: 5rem;
}

.tag {
  position: relative;
  bottom: -55px;
}

#footer:hover {
  font-family: arial;
  font-size: 30px;
  text-decoration: none;
}

#footer:hover:active {
  color: black;
  text-decoration: underline;
}

.h {
  text-align: justify;
}
