.jumbotron {
  padding-top: 3rem;
  background-color: #84f7f760;
}
#projects {
  background-color: #84f7f760;
}

section {
  padding-top: 5rem;
}

h2 {
  transition: 0.3s;
}

.cntr:hover h2 {
  transform: rotate(360deg);
}
